<form class="form" [formGroup]="animalForm">
  <!--(onload) ="onEdit(row)"-->
  <h3 class="title">Здесь ты можешь изменить информацию о зверушке</h3>
  <div>
    <label for="type">Вид:</label>
    <input id="type" type="text" placeholder="Кот" formControlName="type">
    <div class="error" *ngIf="animalForm.controls['type'].invalid && animalForm.controls['type'].touched">Пожалуйста,
      введите корректные данные
    </div>
  </div>
  <div>
    <label for="breed">Порода:</label>
    <input id="breed" type="text" placeholder="Британец" formControlName="breed">
    <div class="error" *ngIf="animalForm.controls['breed'].invalid && animalForm.controls['breed'].touched">Пожалуйста,
      введите корректные данные
    </div>
  </div>
  <div>
    <label for="name">Имя:</label>
    <input id="name" type="text" placeholder="Барсик" formControlName="name">
    <div class="error" *ngIf="animalForm.controls['name'].invalid && animalForm.controls['name'].touched">Имя содержит,
      как минимум один символ. Пожалуйста, повторите попытку
    </div>
  </div>
  <div>
    <label for="age">Возраст:</label>
    <input id="age" type="text" placeholder="0" formControlName="age">
    <div class="error" *ngIf="animalForm.controls['age'].invalid && animalForm.controls['age'].touched">Данное поле
      может содержать только цифры. Пожалуйста, введите корректные данные
    </div>
  </div>
  <div>
    <label for="color">Цвет:</label>
    <input id="color" type="text" placeholder="Желтый" formControlName="color">
    <div class="error" *ngIf="animalForm.controls['color'].invalid && animalForm.controls['color'].touched">Пожалуйста,
      введите корректные данные
    </div>
  </div>
  <div>
    <label for="favActive">Любимое занятие:</label>
    <input id="favActive" type="text" placeholder="Танцевать сальсу" formControlName="favActive">
    <div class="error" *ngIf="animalForm.controls['favActive'].invalid && animalForm.controls['favActive'].touched">
      Пожалуйста, введите корректные данные
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="waves-effect waves-light btn" (click)="onSubmit()" type="submit" [disabled]="animalForm.invalid">
    Изменить
  </button>
  <button class="waves-effect waves-light btn" type="reset" [routerLink]="['']">Назад</button>

</div>

