body {
    margin: 0;
    width: 100%;
    display: compact;
    user-select: none;
    background-color: beige;
    background-image: url("imaje/bac.jpg");
    /*как сделать так, чтобы бэкграунд не сминался, когда масштабируешь окно браузера?*/
    background-size: 100% 100%;
}
.container{
    width: 100%;
    margin-top: -140px;
    margin-left: 810px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: gray;
    background: url("imaje/myimj-removebg-preview.png");
    grid-gap: 6px;
    border-radius: 5px;
    padding: 40px;
    height: 490px;
    max-width: 360px;

}

.item {
    background: #2d3f4b;
    height: 50px;
    width: 87px;
    color: #9595a6;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    cursor: url("imaje/finger-removebg-preview.png"), pointer;
    /*почему курсор не вставляется?:(*/
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
}
form {
    max-width: 100%;
}

input {
    margin-top: 73px;
    margin-left: 28px;
    margin-bottom: 20px;
    width: 299px;
    height: 45px;
    /*padding: 0;*/
    border: none;
    outline: none;
    text-align: right;
}
.item_form {
    grid-column: 1/-1;
    font-family: 'Bebas Neue', cursive;
}
.item_trash {
    grid-column: 1/3;
    background:#f06a67;
    color: #2d3f4b;
    padding: 4px;
    border-bottom-color: rgb(124, 122, 159) ;
    border-radius: 20px;
}
.item_arrow {
    grid-column: 3/-1;
    border-radius: 20px;
    background: #2d3f4b;
    color: #9595a6;
}

.item_equals {
    grid-column: 4;
    grid-row: 7;
    color: #2d3f4b;
    border-radius: 20px;
    background-color: #b3b3c5;
    font-family: 'Press Start 2P', cursive;
}

.history {
    width: 100%;
    margin-top: 160px;
    margin-left: 300px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
/*предпологалось, что на листочке "Решение" на бэкграунде будет история операций, a калькулятор будет сбоку и не поползет, но у меня лапки*/
}