input {
    padding: 5px;
    margin: 0 10px 0 10px;
}

form {
    background-color: lightslategrey;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 5px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.form-title {
    display: flex;
    justify-content: center;
}