body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    /*font-family: 'Dawning of a New Day', cursive;*/

    font-size: 20px;
    line-height: 1.6;
    color: beige;
    background-color: beige;
}

*,
* :before,
* :after {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Intro*/
.intro {
    width: 100%;
    height: 100vh;
    max-width:100%;
    max-height:100%;

    margin: 0;
    background: url(imj/imj/QW.jpg) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-transform: uppercase;
    line-height: 350%;
}
.intro_inner{
    width: 100%;
    max-width: 880px;
    color: beige;
}

.intro_title{
    font-size: 70px;
    font-weight: 700;
    color: beige;
}

.intro_subtitle{
    margin: 0;
    font-size: 12px;
    /*font-weight: 700;*/
    line-height: 200%;
    /*white-space: pre;*/
    color: beige;
    padding-top: 40px;
    font-family: 'Dawning of a New Day', cursive;
}

/*Header*/
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;

}

.header_inner{
    display: flex;
    justify-content: space-between;
}
.header_mark{
    font-size: 30px;
    font-weight: 1400;
    color: beige;
    font-family: 'Dancing Script', cursive;

}

.header_logo{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    font-weight: 1400;
    color: beige;
}

/*Navigations*/
.navigation{
    font-size: 20px;
    text-transform: uppercase;
}

.navigation_link{
    color: #7c7a9f;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.navigation_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    display: none;

    background-color: #646291;
    /* position: absolute;*/
    top: 100%;
    left: 0;
    z-index: 1;
}

.navigation_link:hover { /*РїСЂРё РЅР°РІРµРґРµРЅРёРё РјРµРЅСЏРµС‚СЃСЏ С†РІРµС‚*/
    color: #646291;
}

.navigation_link:hover:after {
    /*РїСЂРё РЅР°РІРµРґРµРЅРёРё РїРѕСЏРІР»СЏРµС‚СЃСЏ РїРѕР»РѕСЃРєР° //СЃРЅР°С‡Р°Р»Р° СЃРѕР·РґР°Р»Рё РїРѕР»РѕСЃРєСѓ РІ nav_link */
    display: block;
    color: #646291;
}
/*REGISTRATION*/
.registration{
    display: flex;
    color: beige;
    margin-left: 910px;
    height: 100vh;
}
.form{
    width: 350px;
    height: 489px;
    border: 8px;
    border-radius: 8px;
    background-color: rgba(30,39,39,0.3);
    box-shadow: 0 5px 30px #000000 ;
}
.btn{
    /*padding: 0px;*/
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
}
.nameform{
    margin: 20px;
    margin-left: 110px;
    font-family: 'Merriweather', serif;

}
.formGroup{
    display: block;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    font-size: 15px;
}

.formGroup input{
    border: none;
    margin-left: 18px;
    width: 90%;
    padding: 10px;
    color:beige;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 15px;
}

.formGroup.success input {
    border-color: #2ecc71;
}

.formGroup.error input {
    border-color: #e74c3c;
}

.formGroup i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.formGroup.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.formGroup.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.formGroup small {
    color: #e74c3c;
    visibility: hidden;
    margin-bottom: auto;
}

.formGroup.error small {
    visibility: visible;
}

.login{
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
    border-bottom: 2px solid white;
}
.btn2{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    margin-left: 130px;
    color: beige;
    font-size: 30px;
    font-weight: 550;
    border-bottom: 2px solid white;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 550;
    color: beige;
    display: compact;
    justify-content: center;

}

/*Sections*/
.sect{
    padding: 40px 0;
}
.sect_header{
    width: 100%;
    text-align: center;
    font-weight: 1400;
}
.section_titlte{
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    color: #58842a;
}
.section_subtitlte {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #58842a;

}
.section_text {
    color: #58842a;
    font-family: 'Yeseva One', cursive;

}

.section_titlte2 {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #58842a;
}

/*Inspire*/
.inspire{
    display: flex;
    justify-content: space-between;

}

.inspire_item{
    display: flex;
    justify-content: space-between;
    left:10px;
    right:10px;
}
.bottom_inner{
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    color: #58842a;
    width: 100%;
    text-align: center;
    font-weight: 1400;
}
