body {
    background-color: linen;
    padding: 0px 20px;
    font-family: 'Montserrat', sans-serif;
    color: mediumslateblue;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: mediumslateblue;
}

.input-field {
    padding: 8px;
    border-radius: 8px;
    position: relative;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, 0);
    background-color: mediumslateblue;
}

.txt {
    font-family: 'Roboto Slab', serif;
    color: linen;
    font-size: 30px;
}

.btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    background-color: mediumslateblue;
    color: linen;
}

.error {
    font-size: 25px;
}

.responseContent {
    display: flex;
    /*padding: 1px;*/
    margin: auto;
    width: 30%;
    padding-left: 20px;
    border-style: dashed;
    font-family: 'Roboto Slab', serif;
    color: linen;
    background-color: mediumslateblue;
    font-size: 25px;
    border-radius: 20px;
}

.packageName {
    font-size: 50px;
}

