table {
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 5px;
}

th {
    min-width: 100px;
    border: 1px solid darkslateblue;
    text-align: center;
    padding: 5px;
    background-color: slateblue;
}

td {
    text-align: center;
    padding: 5px;
    background-color: lightslategrey;
}

th:first-child {
    min-width: 20px;
}