.cards-content {
  background: white;
  border-radius: 7px;

}


.app {
  background-color: darkgray;
  //background-image: url(imj/meme.jpg);
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  width: 1000px;
}

.title {
  font-size: large;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

button {
  border-style: inherit;
  margin: 5px;
  border-radius: 6px;
  background-color: white;
  font-weight: bold;
  font-size: 35px;
  color: black;

}

.head {
  font-weight: bold;
  font-size: xx-large;
  justify-content: center;
  text-align: center;
}
