<div class="app">
  <header class="head">Зверушки</header>
  <div class="cards-content">
    <table>
      <thead>
      <tr class="title">
        <td>Зверушка</td>
        <td>Вид</td>
        <td>Порода</td>
        <td>Имя</td>
        <td>Возраст</td>
        <td>Цвет</td>
        <td>Любимое занятие</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of animalsData">
        <td class="title">{{row.type}} {{row.name}}</td>
        <td>{{row.type}}</td>
        <td>{{row.breed}}</td>
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
        <td>{{row.color}}</td>
        <td>{{row.favActive}}</td>

        <button class="btn btn-danger mx-3" (click)="deleteAnimal(row)">Удалить</button>
      </tr>
      </tbody>
    </table>
    <!--  <app-form></app-form>-->
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success j-c 30" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Добавь зверушку
</button>

<!-- Modal -->
<form>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="background">
            <div>
              <form class="form" [formGroup]="animalForm">
                <!--              (ngSubmit)="onSubmit()"-->
                <h3 class="title">Добавь животное</h3>
                <div>
                  <label for="type">Вид:</label>
                  <input id="type" type="text" placeholder="Кот" formControlName="type">
                  <div class="error" *ngIf="animalForm.controls['type'].invalid && animalForm.controls['type'].touched">
                    Пожалуйста, введите корректные данные
                  </div>
                </div>
                <div>
                  <label for="breed">Порода:</label>
                  <input id="breed" type="text" placeholder="Британец" formControlName="breed">
                </div>
                <div>
                  <label for="name">Имя:</label>
                  <input id="name" type="text" placeholder="Барсик" formControlName="name">
                  <div class="error" *ngIf="animalForm.controls['name'].invalid && animalForm.controls['name'].touched">
                    Имя содержит, как минимум один символ. Пожалуйста, повторите попытку
                  </div>
                </div>
                <div>
                  <label for="age">Возраст:</label>
                  <input id="age" type="text" placeholder="0" formControlName="age">
                  <div class="error" *ngIf="animalForm.controls['age'].invalid && animalForm.controls['age'].touched">
                    Данное поле может содержать только цифры. Пожалуйста, введите корректные данные
                  </div>
                </div>
                <div>
                  <label for="color">Цвет:</label>
                  <input id="color" type="text" placeholder="Желтый" formControlName="color">
                </div>
                <div>
                  <label for="favActive">Любимое занятие:</label>
                  <input id="favActive" type="text" placeholder="Танцевать сальсу" formControlName="favActive">
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</form>
