.card {
  border: 3px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 300px;
}

.cards-content {
  background: white;
  border-radius: 7px;

}


.app {
  background-color: darkgray;
  //background-image: url(imj/meme.jpg);
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  width: 1000px;
}

.title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.error {
  font-size: small;
  color: darkred;
}

.head {
  font-weight: bold;
  font-size: xxx-large;
  justify-content: center;
  text-align: center;
}

.form {
  margin: 15px;
}
