.rs-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.hide-cat {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: lightslategrey;
}

.theme-button {
    margin-left: 5px;
    color: lightslategrey;
}

button {
    width: 70px;
    background-color: darkslateblue;
}